* {
  font-family: 'Courier New', Courier, monospace;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  padding: 2rem;
}

.mini {
  font-size: smaller;
  color: #afafaf;
}

.mini a {
  color: #afafaf;
}

.card {
  border: 1px solid grey;
  border-radius: 1rem;
  overflow: hidden;
}

.card__title{
  text-align: center;
}

.card__a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__img {
  width: 100%;
  background-color: #ddd;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: auto;
  row-gap: 1rem;
  column-gap: 1rem;
}